header {
  background-color: #000000;
  padding: 15px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 15px;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  header {
    padding: 10px 0;
  }

  nav {
    justify-content: center;
  }
}

@keyframes iconAppear {
  0% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes iconAppear {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideToMiddle {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.navbar-nav {
  display: flex;
  animation: iconAppear 1s forwards;
}

.navbar-nav.mobile {
  animation: slideToMiddle 1s forwards;
}

.nav-item {
  margin: 0 10px;
}
